extends layout

block main
  h3 I Build Cool Things On The Web

  p
    | My career as a software engineer began in '96, but my experience with the web goes back to '94 when
    | I started building "home pages" of the era.

  p  
    | Since those early days, some of the web applications I've built include a knowledge base for <a href="https://www.goldmine.com/" title="Visit Front Range Solution's (formerly GoldMine Software) site" rel="nofollow" target="_blank">GoldMine Software</a>,
    | custom accounting and reconcilliation systems for <a href="https://www.rescapholdings.com/" title="Visit Rescap Holding's (formerly GMAC Residential Capital Group) site" rel="nofollow" target="_blank">GMAC Residential Captial Group</a>,
    | a youth team sports registration system for the <a href="http://active.com" title="Visit The Active Network's site" rel="nofollow" target="_blank">Active Network</a>,
    | and systems to allow automotive mechanics to quickly access vehicular diagnostic and repair information for <a href="http://mitchell1.com" title="Visit Mitchell 1's site" rel="nofollow" target="_blank">Mitchell 1</a>.
  p
    | Today, I work as a staff senior software engineer for <a href="http://fairwaytech.com" title="Visit Fairway Technology's site" target="_blank">Fairway Technologies</a> in La Jolla, CA. I provide best in class service to Fairway's clients.
    | I'm currently building online learning tools with <a href="http://bridgepointeducation.com" title="Visit Bridgepoint Education's site" target="_blank">Bridgepoint Education's</a> in house development team.
  
  p
    | In my spare time, I can often be found enjoying time with friends and family, <a href="http://hockeyat37.blogspot.com/" target="_blank">playing hockey</a>, or
    | <a href="http://soundcloud.com/bassore" target="_blank">making music</a>.

block sidebar
  include includes/interestingthings
