extends layout

block main
  h3 Hi! My Name is Craig and I &hearts; Coding!

  p
    | I'm a software engineer specializing in full stack web development with an emphasis on front end work.
    | Building cool things on the web has been an <em>undying passion</em> of mine for the last 
    | <script> var now = new Date(); document.write(now.getFullYear() - 1994) </script> years.

  p 
    | I strive to build <em>elegantly designed solutions</em> while never losing sight of user experience or business goals.
    | To acheive this, I keep up to date with the latest techniques and trends in web development and design.

  p
    | Building standards compliant applications is important to me. 
    | Following web standards today means I'm <em>coding for tomorrow's internet</em>. 
    | I build maintainable applications that stay ahead of the technology curve.

  p  
    | Strict adherence to software development best practices allows me to push the
    | boundaries of web technology while still <em>delivering at the speed of business</em>.

  p
    a(href="/about", title="Read more about me") Read more about me

block sidebar
  include includes/techsummary
