#projects.offset2.span9.columns
  h3 Things I never have enough time to work on

  h4 SocketStream
  p  
    | <a href="https://github.com/socketstream/socketstream/" target="_blank">SocketStream</a> is a new and exciting, open source realtime web application framework for Node.js.
    | I'm an active member of the SocketStream community, and a sometimes contributor to the codebase.

  p
    | SocketStream is blazing new ground, and definitely something to keep an eye on in the future.

  h4 RPG Universe Online
  p
    | RPG Universe Online is a pet project of mine that never seems to get enough love.
    | I've long had a vision for a web based virtual table top to facilitate playing traditional, pen and paper style role playing games online with your friends.
  
  p
    | I'm building the most recent incarnation of RPG Universe Online using Node.js, SocketStream, and MongoDB. 
    | The project is currently in private alpha testing. 
    | You can follow the progress <a href="http://rpguniverseonline.no.de" target="_blank">here</a>.
    | Please note that some things may not be functional yet.
  
  h4 CraigMaslowski.com
  p
    | The site you're reading right now. I built it using Node.js, Express, Jade, Stylus, jQuery, and Bootstrap.
    | All of the source code that makes up CraigMaslowski.com is 
    | <a href="https://github.com/craigmaslowski/craigmaslowski.com" target="_blank">publically available on GitHub</a>.
  

aside#sidebar.span4.columns
  include includes/socialicons
  include includes/otherprojects
  
#cats.modal
  .modal-header
    a.close(href="#", title="Close") x
    h6 Foolish human, you dare wake the feline overlords?
  .modal-body
    img(src="/images/cats.jpg", alt="Feline overlords deman peace and quiet!")