#projects.offset2.span9.columns
  h3 Things I never have enough time to work on

  section.loading 
      p
        | Loading Projects From Github
      
      p
        img(src="/images/activity-indicator.gif")

  section.github-projects

  section.static-projects
    h4 Backbone.Factory
    p
     | Backbone.Factory is an extension to the Backbone framework. It's used as an alternate method of creating Backbone collections, models, views, and routers with the purpose of automatically adding user defined properties to these objects, sort of like dependency injection.
    p
      a(href="https://github.com/craigmaslowski/Backbone.Factory", target="_blank") View on Github

    h4 craigmaslowski.com
    p
     | All the source code for craigmaslowski.com
    p
      a(href="https://github.com/craigmaslowski/craigmaslowski.com", target="_blank") View on Github
    
    h4 ElCacheo 
    p 
     | Experienced JavaScript developers know that traversing the DOM is an expensive operation which is alleviated by caching commonly used lookups. ElCacheo is a library which makes it easy to cache jQuery or Zepto lookups.
    p
      a(href="https://github.com/craigmaslowski/ElCacheo", target="_blank") View on Github
    
    h4 Objectify
    p
     | Objectify is a node.js module which walks a directory of text files and creates an object based on the directory and files names. The contents of each text file are loaded into properties on the returned objects.
    p
      a(href="https://github.com/craigmaslowski/Objectify", target="_blank") View on Github

    h4 Plates-Cupboard
    p
     | Cupboard is an extension to Flatiron Plates templating library. It will recurse through a folder creating an object tree which matches the directory layout. All html files will be loaded from disk, and plates map and bind function become available on the returned objects.
    p
      a(href="https://github.com/craigmaslowski/Plates-Cupboard", target="_blank") View on Github

aside#sidebar.span4.columns
  include includes/socialicons
  include includes/otherprojects
  
#cats.modal
  .modal-header
    a.close(href="#", title="Close") x
    h6 Foolish human, you dare wake the feline overlords?
  .modal-body
    img(src="/images/cats.jpg", alt="Feline overlords deman peace and quiet!")

include includes/templates/github-repo-template

include includes/js-libs
include includes/js-app-core

script(src="/js/models/github-repo.js")
script(src="/js/models/github-user.js")
script(src="/js/collections/github-repos.js")
script(src="/js/views/projects.js")
script(src="/js/views/github-repo.js")


script(src="/js/app.projects.js")