html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
@font-face{font-family:'LeagueGothicRegular';src:url("../fonts/League_Gothic-webfont.eot");src:url("../fonts/League_Gothic-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/League_Gothic-webfont.woff") format('woff'),url("../fonts/League_Gothic-webfont.ttf") format('truetype'),url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'BitstreamVeraSansRoman';src:url("../fonts/Vera-webfont.eot");src:url("../fonts/Vera-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/Vera-webfont.woff") format('woff'),url("../fonts/Vera-webfont.ttf") format('truetype'),url("../fonts/Vera-webfont.svg#BitstreamVeraSansRoman") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'BitstreamVeraSansOblique';src:url("../fonts/Vera-Italic-webfont.eot");src:url("../fonts/Vera-Italic-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/Vera-Italic-webfont.woff") format('woff'),url("../fonts/Vera-Italic-webfont.ttf") format('truetype'),url("../fonts/Vera-Italic-webfont.svg#BitstreamVeraSansOblique") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'BitstreamVeraSansBold';src:url("../fonts/Vera-Bold-webfont.eot");src:url("../fonts/Vera-Bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/Vera-Bold-webfont.woff") format('woff'),url("../fonts/Vera-Bold-webfont.ttf") format('truetype'),url("../fonts/Vera-Bold-webfont.svg#BitstreamVeraSansBold") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'BitstreamVeraSansBoldOblique';src:url("../fonts/Vera-Bold-Italic-webfont.eot");src:url("../fonts/Vera-Bold-Italic-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/Vera-Bold-Italic-webfont.woff") format('woff'),url("../fonts/Vera-Bold-Italic-webfont.ttf") format('truetype'),url("../fonts/Vera-Bold-Italic-webfont.svg#BitstreamVeraSansBoldOblique") format('svg');font-weight:normal;font-style:normal}
body{color:#707070}
h1,h3,h5,h6{color:#a18d8d}
h2{color:#c49b9b}
h4{color:#857373}
a{color:#5793c9}
a:hover{color:#b1d2f0}
input,textarea{border:1px solid #ccc;color:#808080}
.button{background:#857373;color:#fdfdfd}
.button:hover{background:#a18d8d;color:#fdfdfd}
header.page{background-color:#a64646;}
header.page a{color:#e7cfcf;}
header.page a h1{color:#e7cfcf}
header.page a h2{color:color #c49b9b}
header.page a:hover{color:#f7eded;}
header.page a:hover h1,header.page a:hover h2{color:#f7eded}
#content .projects a:hover{color:#a18d8d;}
#content .projects a:hover h4{color:#a18d8d}
#content .projects a.button:hover{color:#fdfdfd}
body{font:1.125em 'BitstreamVeraSansRoman';}
h1,h2,h3,h4,h5,h6{font-family:'LeagueGothicRegular',HelveticaNeue,Helvetica,Arial;text-transform:uppercase;}
h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{text-transform:none}
h1 em,h2 em{font-style:normal}
h1,h2{font-size:2.25em}
h3{font-size:1.75em}
h4{font-size:1.5em}
h5,h6{font-size:1.25em}
a{text-decoration:none}
p{font-weight:normal}
#content aside p,#content aside li,#content aside label{font-size:.75em}
#content aside #contact input{font-size:.95em}
#content aside #contact textarea{font-size:.75em}
footer.page nav{text-transform:uppercase}
html{background:url("../images/handmadepaper.png")}
h4{margin-top:30px}
p{margin-top:15px}
input,textarea{-webkit-border-radius:3px;-moz-border-radius:3px}
input{height:25px}
textarea{height:200px}
header.page{-webkit-box-shadow:0 2px 6px rgba(50,50,50,0.75);-moz-box-shadow:0 2px 6px rgba(50,50,50,0.75);box-shadow:0 2px 6px rgba(50,50,50,0.75);margin:20px 0;}
header.page nav{text-transform:uppercase;}
header.page nav ul li{display:inline;margin-right:10px}
#content{min-height:100%;position:relative;}
#content #sidebar h6{margin-top:15px}
#content #sidebar ul.social-icons li{display:inline;margin-right:8px}
#content #sidebar ul.social-icons img{opacity:.42}
#content #sidebar ul.social-icons img:hover{opacity:.22}
#content #sidebar p{margin-top:0}
.static-projects{display:none}
.clearfix{clear:both}
.button{font-family:'BitstreamVeraSansRoman';font-size:12px;padding:4px;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;cursor:pointer}
@media (min-width: 1010px){header.page nav{float:right;padding-right:40px;margin-top:14px}
#content{margin:0 auto;max-width:60em;min-height:100%;}
#content #main{width:70%;float:left;padding:0 40px;margin-bottom:50px;}
#content #main .repo{display:inline-block;width:45%;vertical-align:top;margin-right:5%;margin-top:40px;}
#content #main .repo .name{float:left;margin-top:0}
#content #main .repo a.github{float:right}
#content #main .repo p{clear:both}
#content #sidebar{width:20%;float:right;margin-bottom:50px;}
#content #sidebar #contact{-webkit-animation-duration:1s;-webkit-animation-delay:.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:1s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:1s;-ms-animation-delay:.2s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;-o-animation-duration:1s;-o-animation-delay:.2s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;animation-duration:1s;animation-delay:.2s;animation-timing-function:ease;animation-fill-mode:both;}
#content #sidebar #contact input,#content #sidebar #contact textarea{width:100%}
#content #sidebar #contact input{margin-bottom:10px}
#content #sidebar #contact input.error,#content #sidebar #contact textarea.error{-webkit-box-shadow:0 0 6px rgba(166,70,70,0.95);-moz-box-shadow:0 0 6px rgba(166,70,70,0.95);box-shadow:0 0 6px rgba(166,70,70,0.95)}
#content #sidebar #contact textarea{margin-bottom:7px}
#content #sidebar #contact .info{-webkit-animation-duration:1s;-webkit-animation-delay:.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:1s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:1s;-ms-animation-delay:.2s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;-o-animation-duration:1s;-o-animation-delay:.2s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;animation-duration:1s;animation-delay:.2s;animation-timing-function:ease;animation-fill-mode:both;font-size:.65em;margin-top:7px}
}@media (min-width: 500px){header.page{padding-left:40px;}
header.page h1,header.page h2{float:left;display:inline}
header.page h2{margin-left:3px}
}