html,body{background:url("/images/handmadepaper.png");color:#707070}
h1,h2,li{font-family:'Ubuntu Condensed',helvetica,arial,sans-serif}
h1{font-size:36px}
li{font-size:16px}
h3,h4{font-weight:300;font-size:22px}
h4{font-size:16px}
p{font-weight:200}
#code-corner{position:absolute;top:0;right:0;}
#code-corner img{width:100px;height:77px}
#layout header.page{margin-top:20px;}
#layout header.page nav{border:0;-webkit-box-shadow:0 0 1px 3 x rgba(0,0,0,0.5);-moz-box-shadow:0 0 1px 3 x rgba(0,0,0,0.5);box-shadow:0 0 1px 3 x rgba(0,0,0,0.5);}
html.ie8 #layout header.page nav,html.ie7 #layout header.page nav,html.ie6 #layout header.page nav{border:2px solid rgba(0,0,0,0.5)}
#layout header.page h1,#layout header.page h2{display:inline-block;margin-bottom:0}
#layout header.page h2{line-height:18px;color:#686868;margin-left:12px}
#layout header.page h3,#layout header.page h4{font-family:'Varela Round',helvetica,arial,sans-serif;color:#ff5600}
#layout header.page ul.secondary-nav li a{line-height:40px}
#layout header.page ul.secondary-nav li a:hover{color:#3b91eb}
#layout hr{margin-top:0;margin-bottom:0}
#layout section#content{margin-top:10px;}
#layout section#content h3{font-size:20px;text-transform:uppercase}
#layout section#content p.first{margin-top:12px}
#layout section#content p{margin:16px 0;font-size:15px;line-height:24px;text-shadow:1px 1px 1px #dcdcdc;}
#layout section#content p em{text-shadow:1px 1px 1px #a9a9a9;font-weight:300;font-style:normal}
#layout section#content #projects p{margin-top:0}
#layout aside#sidebar{margin-left:40px;}
#layout aside#sidebar ul.social-icons{margin:0;}
#layout aside#sidebar ul.social-icons li.first a{margin-left:0}
#layout aside#sidebar ul.social-icons li{display:inline-block}
#layout aside#sidebar a.icon{margin-left:6px}
#layout aside#sidebar h6{margin-top:6px}
#layout aside#sidebar ol{list-style:none}
#layout aside#sidebar img.avatar{margin-top:12px}
#layout aside#sidebar p{font-size:13px;line-height:18px;}
#layout aside#sidebar p em{font-weight:200;font-style:italic}
#cats{display:none;width:634px;left:45%;}
#cats h6{color:#404040}
#contact{display:none;}
#contact h3{font-family:'Ubuntu Condensed',helvetica,arial,sans-serif}
#contact input.btn{margin-right:10px}
#contact input,#contact textarea{font-size:15px}
#contact textarea{height:175px}
#contact label{font-size:15px;font-weight:400;padding:12px 0 8px 0}
#contact fieldset{padding:0}
#contact .help-inline{display:none;color:#f00}
#contact .modal-footer .btn{float:left}
#contact .form-stacked{padding-left:0}
#contact .error{display:none}
#static-projects{display:none}
