article#contact.widget
	h6 Send me a message!
	form(action="#")
		fieldset
			label(for="name") Name
			input.name(type="text", placeholder="Enter your name")
			label(for="email") Email Address
			input.email(type="email", placeholder="Enter your email address")
			label(for="message") Message
			textarea.message
			a.button.send Send
			p.info