h6 Things That Excite Me
     
ol
	li Bleeding Edge Web Tech
	li Front End Engineering
	li User Experience (UX)
	li Server-side JavaScript
	li RPC Over Websockets
	li Emerging Web Trends
	li Elegant Design
