article.widget
	h6 Things That Excite Me
     
	ol
		li Front End Engineering
		li Application Architecture
		li User Experience (UX)
		li Server-side JavaScript
		li RPC Over Websockets
		li Bleeding Edge Web Tech
		li Emerging Web Trends
		li Elegant Design
