h6 Things That Interest Me
     
ol
  li Realtime Web Apps
  li RPC Over Websockets
  li Server-side JavaScript
  li Document Based Stores
  li The Social Experience
  li Emerging Web Trends
  li Bleeding Edge Web Tech