script(src="/js/lib/jquery.min.js")
script(src="/js/lib/bootstrap-modal.js")
script(src="/js/lib/bootstrap-twipsy.js")
script(src="/js/lib/ga.js")
script(src="/js/lib/underscore-min.js")
script(src="/js/lib/backbone-min.js")
script(src="/js/lib/backbone.factory.js")
script(src="/js/lib/elcacheo.js")