h6 Projects I follow on GitHub

ol
  li jashkenas/coffee-script
  li LearnBoost/mongoose
  li LearnBoost/socket.io
  li LearnBoost/stylus
  li twitter/bootstrap
  li socketstream/socketstream
  li visionmedia/express
  li visionmedia/jade