ul.social-icons.unstyled
  li.first
    a.icon(href="https://twitter.com/craig_maslowski", title="Follow me on twitter", target="_blank") 
      img(src="/images/twitter.png", alt="Follow me on Twitter")
  li
    a.icon(href="http://www.linkedin.com/pub/craig-maslowski/36/8a8/48a", title="Connect on LinkedIn", target="_blank")
      img(src="/images/linkedin.png", title="Connect on LinkedIn")
  li
    a.icon(href="https://www.github.com/craigmaslowski/", title="See my code on GitHub", target="_blank")
      img(src="/images/github.png", alt="See my code on Github")
  li
    a.icon(href="skype:craig.maslowski?call", title="Call me via Skype")
      img(src="/images/skype.png", alt="Call me via Skype")