h6 Technologies I Work With

ol
  li JavaScript / CoffeeScript
  li Node.js
  li Websockets
  li Html 5
  li Css 3
  li C#
  li Asp.net

h6 Framework &amp; Library Love
     
ol
  li jQuery
  li Underscore.js
  li Backbone.js
  li Socket.io
  li Bootstrap
  li SocketStream
  li Express
  li Asp.net MVC