article.widget
  h6 Technologies I Work With

  ol
    li JavaScript / CoffeeScript
    li jQuery
    li Underscore
    li Backbone
    li Node.js
    li Express
    li Websockets
    li Html 5
    li Css 3
    li C#
    li Asp.net MVC
