/* 
	http://colorschemedesigner.com
	Tetrad
	RGB: FFD7D7
	Angle: 47 degrees

	Saturation: +2
	Brightness: -.5
*/

/* colors */
primary-ultra-bright = #a0a0a0
primary-bright = #ccc
primary-hyper-light = #888
primary-ultra-light = #808080
primary-light = #787878
primary-medium = #707070

secondary-ultra-bright = #F7EDED
secondary-ultra-light = #EDE4E4
secondary-light = #E7CFCF
secondary-medium-light = #C49B9B
secondary-medium = #A18D8D
secondary-medium-dark = #857373
secondary-dark = #A64646

tertiary-light = #B1D2F0
tertiary-dark = #5793C9

/* styles */
body
	color primary-medium

h1, h3, h5, h6
	color secondary-medium

h2
	color secondary-medium-light
h4
	color secondary-medium-dark

a
	color tertiary-dark

a:hover
	color tertiary-light

input, textarea
	border 1px solid primary-bright
	color primary-ultra-light

.button
	background secondary-medium-dark
	color #fdfdfd

.button:hover 
	background secondary-medium
	color #fdfdfd

header.page
	background-color secondary-dark

	a
		color secondary-light
		h1
			color secondary-light
		h2
			color color secondary-medium-light

	a:hover
		color secondary-ultra-bright
		h1, h2
			color secondary-ultra-bright

#content
	.projects
		a:hover
			color secondary-medium

			h4
				color secondary-medium

		a.button:hover 
			color #fdfdfd