@import variables
@import functions

html
	background url(../images/handmadepaper.png)

h4	
	margin-top 30px

p
	margin-top 15px

input, textarea
	border-radius 3px

input
	height 25px

textarea
	height 200px

header.page
	box-shadow 0 2px 6px rgba(50,50,50,.75);
	margin 20px 0

	nav
		text-transform uppercase
		ul
			li
				display inline
				margin-right 10px

#content
	min-height 100%
	position relative

	#sidebar
		h6
			margin-top 15px

		ul.social-icons 
			li
				display inline
				margin-right 8px
			img
				opacity .42

			img:hover
				opacity .22

		p
			margin-top 0

.static-projects
	display none

.clearfix
	clear both

.button
	font-size 12px
	padding 4px
	text-decoration none
	border-radius 4px
	cursor pointer

/*@media (min-width: 320px) */
header.page
	padding-left 20px

#content
	padding 0 20px

	#sidebar
		width 100%
		margin-top 15px
	
		.widget
			float none
			margin-bottom 30px
			margin-left 1%

		ul.social-icons
			float none
			margin-top 15px
			
			li
				display inline

		#contact
			float none
			clear both
			width 100%

			label
				display block
				
			input, textarea
				width 100%
				display block
	


@media (min-width: 730px)
	header.page
		padding-left 20px

		h1, h2
			float left
			display inline

		h2
			margin-left 3px

		nav
			float none
			clear both

	#content
		padding 0 20px
		#sidebar
			width 100%
			margin-top 15px
			.widget
				width 29%
				float left
				margin-bottom 30px
				margin-left 1%

			ul.social-icons
				float left
				margin-top 15px
				li
					display block

			#contact
				animated()
				width 29%
				float left
				clear none

				input, textarea
					width 100%

				input
					margin-bottom 10px

				input.error, textarea.error
					box-shadow 0 0 6px rgba(166,70,70,.95)

				textarea
					margin-bottom 7px

				.info
					animated()
					font-size .65em
					margin-top 7px


/* Full width layout */
@media (min-width: 1060px)
	header.page
		nav
			float right
			clear none
			padding-right 40px
			margin-top 14px

	#content
		margin 0 auto
		max-width 60em
		min-height 100%

		#main
			width 70%
			float left
			padding 0 40px
			margin-bottom 50px

			.repo
				display inline-block
				width 45%
				vertical-align top
				margin-right 5%
				margin-top 40px

				.name
					float left
					margin-top 0

				a.github
					float right

				p
					clear both

		#sidebar
			width 20%
			float right
			margin-bottom 50px
			margin-top 0

			.widget
				width 100%
				float none
				margin-bottom 0
				margin-left 0

			ul.social-icons
				float none
				margin-top 0
				li
					display inline

			#contact
				animated()	
				width 100%

				input, textarea
					width 100%

				input
					margin-bottom 10px

				input.error, textarea.error
					box-shadow 0 0 6px rgba(166,70,70,.95)

				textarea
					margin-bottom 7px

				.info
					animated()
					font-size .65em
					margin-top 7px