box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
  html.ie8 &,
  html.ie7 &,
  html.ie6 &
    border 2px solid arguments[length(arguments) - 1]


html, body
  background url(/images/handmadepaper.png)

  color #707070

h1, h2, li
 font-family 'Ubuntu Condensed', helvetica, arial, sans-serif

h1
  font-size 36px

li
  font-size 16px

h3, h4
 font-weight 300
 font-size 22px

h4
  font-size 16px
 
p
  font-weight 200

#code-corner
  position absolute
  top 0
  right 0
  
  img
    width 100px
    height 77px
  
#layout
  header.page 
    margin-top 20px
    nav
      border 0
      box-shadow 0 0 1px 3x rgba(0, 0, 0, .5)

    h1, h2
      display inline-block
      margin-bottom 0px

    h2
      line-height 18px
      color #686868

    h3, h4
      font-family 'Varela Round', helvetica, arial, sans-serif
      color #FF5600

    ul.secondary-nav 
      li 
        a
          line-height 40px
        a:hover
          color #3B91EB
  
  hr
    margin-top 0
    margin-bottom 0

  section#content
    margin-top 10px
    margin-bottom 50px

    h3
      color #BA170B
      font-style normal
      font-size 20px
      text-transform uppercase

    p.first
      margin-top 12px
    
    p
      margin 16px 0
      font-size 15px
      line-height 24px
      text-shadow 1px 1px 1px #dcdcdc

      em
        text-shadow 1px 1px 1px #a9a9a9
        font-weight 300
        font-style normal
    
    #projects
      p
        margin-top 0
      
      p.loading
        margin-top 20px
      
      .static-projects
        display none        
  
  aside#sidebar
    margin-left 40px
    
    ul.social-icons
      margin 0
      
      li.first
        a
          margin-left 0
      li
        display: inline-block
    
    a.icon
      margin-left 6px
    
    h6
      margin-top 6px
     
    ol
      list-style none
    
    img.avatar
      margin-top 12px
      
    p
      font-size 13px
      line-height 18px
      
      em
        font-weight 200
        font-style italic

#contact
  display none
  
  h3
    font-family 'Ubuntu Condensed', helvetica, arial, sans-serif
  
  input.btn
    margin-right 10px
  
  input, textarea
    font-size 15px
    
  textarea
    height 175px
  
  label
    font-size 15px
    font-weight 400
    padding 12px 0 8px 0
  
  fieldset
    padding 0
  
  .help-inline
    display none
    color #f00
  
  .modal-footer .btn
    float left
  
  .form-stacked
    padding-left 0
    
  .error
    display none
